.DS_Store

*.xcuserstate
*.xcworkspace/xcuserdata/

build/
DerivedData/

*.xcscmblueprint

*.swp
Savely.xcodeproj/xcuserdata
Savely.xcodeproj/project.xcworkspace/xcshareddata
Savely.xcodeproj/project.xcworkspace
Pods
Savely.xcworkspace/contents.xcworkspacedata
